<% tasks.each do |task| %>
    <li class="task_item">
        <div class="name"><%= link_to task.name, task_path(task) %></div>
        <div class="content"><%= task.content %></div>
        <div class="deadline"><%= task.deadline %></div>
        <div class="status"><%= task.status_i18n %></div>
        <div class="priority"><%= task.priority_i18n %></div>
        <div class="labels">
            <% task.labels.each do |label| %>
                <div class="label">
                    <%= label.name %>
                </div>
            <% end %>
        </div>
    </li>
<% end %>
<%= paginate tasks, remote: true %>
