<div class="task_show">
    <h1>タスク詳細画面</h1>
    <ul class="task_element_list">
        <li>
            <h4>タスク名</h4>
            <div><%= @task.name %></div>
        </li>
        <li>
            <h4>内容</h4>
            <div><%= @task.content %></div>
        </li>
        <li>
            <h4>締め切り日</h4>
            <div><%= @task.deadline %></div>
        </li>
        <li>
            <h4>ステータス</h4>
            <div><%= @task.status_i18n %></div>
        </li>
        <li>
            <h4>優先順位</h4>
            <div><%= @task.priority_i18n %></div>
        </li>
        <li>
            <h4>ラベル</h4>
            <% @task.labels.each do |label| %>
                <div class="label">
                    <%= label.name %>
                </div>
            <% end %>
        </li>
    </ul>
    <%= link_to "編集", edit_task_path(@task), class: "link_edit" %>
    <%= link_to "削除", @task, method: :delete, class: "link_delete", data: {confirm: "本当に削除しますか？"} %>
</div>
