<%= form_with model: @task, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :content %>
        <br>
        <%= f.text_area :content %>
    </div>
    <div>
        <%= f.label :deadline %>
        <br>
        <%= f.date_field :deadline %>
    </div>
    <div>
        <%= f.label :status %>
        <br>
        <%= f.select :status, Task.statuses_i18n.invert %>
    </div>
    <%= f.submit submit_text %>
<% end %>
