<%= form_with model: @task, local: true, id: "task_form" do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
    </div>
    <div>
        <%= f.label :content %>
        <br>
        <%= f.text_area :content %>
    </div>
    <div>
        <%= f.label :deadline %>
        <br>
        <%= f.date_field :deadline %>
    </div>
    <div>
        <%= f.label :status %>
        <br>
        <%= f.select :status, Task.statuses_i18n.invert %>
    </div>
    <div>
        <%= f.label :priority %>
        <br>
        <%= f.select :priority, Task.priorities_i18n.invert %>
    </div>
    <div>
        <%= f.label :label %>
        <br>
        <%= f.collection_check_boxes :label_ids, Label.all, :id, :name %>
    </div>
    <%= f.submit submit_text, class: "btn btn-success mt-3" %>
<% end %>
